.bannerOne,.bannerTwo,.bannerThree{
  background-size: cover;
  background-position: center;
  height: 650px;
  position: relative;
  border-radius: 20px;
  z-index: 10;
}

@media (max-width: 600px){
  .bannerOne,.bannerTwo,.bannerThree{
    height: 300px;
  }
  .content{

  }
  .btns{
    
  }
}

.bannerOne {
  background-image: url('../../assets/bannerOne.jpg');
  
}

.bannerTwo {
  background-image: url('../../assets/bannerTwo.jpg');

}

.bannerThree {
  background-image: url('../../assets/bannerThree.jpg');

}

/* Navigation Buttons */
.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.prev-slide {
  left: 20px;
}

.next-slide {
  right: 20px;
}

.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.content {
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100%;            
  color: white;        
  text-align: center;     
  flex-direction: column;   
}

